*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    scroll-behavior: smooth;
}

/* Hero Image */
.hero{
    background-image: url(./assets/hero.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 50%;
}

/* Header */
header{
    display: flex;
    justify-content: space-around;
}

/* Main Nav */
nav{
    display: flex;
    overflow: hidden;
    position: fixed;
    width: 100%;
}

/* Logo Icon */
#logoIcon{
    margin-top: 5px;
    margin-right: 600px;
    margin-left: 250px;
}

/* Nav Group */
.navItems{
    list-style: none;
    margin-top: 24px;
}

/* Nav Options */
.navItems li{
    float: left;
    color: white;
    font-size: 12px;
    text-decoration: underline;
    font-style: italic;
    font-family: 'Roboto Condensed', sans-serif;
    letter-spacing: 1px;
    margin-left: 40px;
}

a{
    color: white;
}

/* Navbar Scroll */
nav.scrolled{
    background-color: white;
    z-index: 99;
}

nav.scrolled a{
    color: rgb(65, 79, 107);
}

nav.scrolled li{
    z-index: 99;

}
/* End of Nav */





/* History Section */
.historyPic{
    background-image: url(./assets/historyPic.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 50%;
}

.carousel{
    width: 100%;
    height: 100px;
    background-color: rgb(65, 79, 107);
    /* opacity: 0.8; */
}

.image{
    position: relative;
    display: inline-block;
    transform: translate(130%, -50%);
    width: auto;
    opacity: none;
}

/* Mountain Section */
.mountainPic{
    background-image: url(./assets/mountainTwo.jpg);
    background-size: cover;
    width: 100%;
    padding-top: 45%;
}


/*   Footer   */

/* All content within the footer */
.footerContent{
    background-color: rgb(65, 79, 107);
    display: flex;
    justify-content: space-around;
    padding: 17px 0px;
}

/* LA Text */
.losangelesLogo{
    font-family: 'Roboto', sans-serif;
    display: inline-block;
    margin-top: 17px;
    color: rgb(99, 118, 157);
}

/* The word 'Mountains' */
#laLogo{
    letter-spacing: 1px;
}

/* Copyright Text */
.footerText{
    font-family: 'Roboto Condensed', sans-serif;
    color: rgb(99, 118, 157);
    font-size: 12px;
    font-style: italic;
    display: inline-block;
    margin-top: 24px;
}